<%= form_tag '/trip', :remote => true, :id => 'searchbox' do -%>

	<div id="main" >

		<div id="land">
			<span class="landLabel"></span>
			<select id="week" class="input-medium" data-bind="value: departureweek">
				<%for country in @countries %>
	        		<option><%= country %></option>
				<% end -%>
			</select>
		</div>

		<div class="fixed">
			<div class="date">
				<label>Departure</label>
				<%= text_field_tag :departure, l(@departure_date, :format => :long), :id => 'departure'%>
			</div>

			<div class="date">
				<label>Return</label>
                <%= text_field_tag :return, l(@return_date, :format => :long), :id => 'return' %>
			</div>

			<div  id="people">
				<label>People</label>
                <%= text_field_tag :occupancy, @occupancy, :id => 'occupancy' %>
			</div>
		</div>

		<div id="landSelect">
			<div class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					<span>All Destinations</span>
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">

					<li class="nav-header"> Most Popular </li>
					<li class="divider"></li>

					<%for country in @popular_countries %>
						<li class="popular"><a href="#"> <span class="<%= country[:code] %>"></span> <%= country[:name] %></a></li>
					<% end -%>

					<li class="nav-header"> All destinations </li>
					<li class="divider"></li>

					<%for country in @countries %>
						<li><a href="#"><%= raw country %></a></li>
					<% end -%>

				</ul>
			</div>
		</div>

	</div>

<% end -%>